body {
  background-color: blueviolet;
}
h1 {
  color: greenyellow;
  font-size: 65px;
}
ol {
  color: beige;
}
span.seotext {
  color: blue;
}
h2 {
  color: beige;
}
p {
  color: beige;
}
h3 {
  color: beige;
}
p {
  color: beige;
}
